[submodule "thirdparty/buddy-mlir"]
	path = thirdparty/buddy-mlir
	url = https://github.com/buddy-compiler/buddy-mlir.git
[submodule "thirdparty/chipyard"]
	path = thirdparty/chipyard
	url = https://github.com/ucb-bar/chipyard.git
[submodule "thirdparty/bebop"]
	path = thirdparty/bebop
	url = https://github.com/DangoSys/bebop
	branch = next
[submodule "thirdparty/firesim"]
	path = thirdparty/firesim
	url = https://github.com/firesim/firesim.git
